*{
    margin: 0 auto;
}

/* shared style */
.logo{
    font-size: 34px;
    color: #4E47FF;
}
.btn-primary{
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
}

/* navbar styles */
.navbar{
    display: flex;
    padding: 50px 120px;
    justify-content: space-between;
    align-items: center;
}
/* banner styles */
.header{
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
    width: 100%;
}
.banner-heading{
    font-weight: bold;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 140px 267px -90px 267px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* main styles */
main{
    max-width: 1140px;
}
main section{
    margin-top: 117px;
}
/* first-content */
.first-content{
    display:flex;
    gap: 270px;
}
.content-heading, .content-text{
    margin: 0px;
}
.content-heading{
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 15px;
}
.content-text{
    margin-bottom: 15px;
    font-size: 24px;
    color:rgba(37, 36, 50, 0.5)
}
.webcon{
    width: 400px;
    height: 324px;
    border-radius: 48px;
}
.text-content{
    margin-top: 63px;
}
/* second-content */
.box{
    max-width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    padding: 80px 50px;
}
.box-title{
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 40px;
}
.statistics-box{
    display: flex;
}
.statistics{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.stat-title{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: -10px 0px 0px 10px;
}

/* fourth-content */

.box-two{
    max-width: 1140px;
    height: 700px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin: 0px;
}
.fourth-content-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin: 71px 0px 18px 0px ;
}
.content-description{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 18px;
}
.align-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webcon-two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 365px;
    width: 840px;
    border-radius: 48px;
    margin-top: 20px;
}
/* contact section */

.contact-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
}
.form-title{
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: black;
}
.contact-form{
    width: 100%;
}
.form-elements{
    margin-bottom: 15px;
}
.form-elements label{
    display: block;
    margin-bottom: 8px;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-elements input, .form-elements textarea{
    width: 50%;
    border: 1px solid #d9ddea;
    border-radius: 6px;
    background-color: white;
    padding: 14px 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.form-elements input{
    height: 45px;
}
.form-elements textarea{
    height: 86px;
}
.form-elements input::placeholder, .form-group textarea::placeholder{
    color: #999;
}
.button{
    width: 57%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color:#5146f5;
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: #4035e5;
}

/* footer section */
.footer{
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-heading{
    font-size: 85px;
    color: #4E47FF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-description{
    color: grey;
    text-align: center;
    margin-bottom: 14px;
}
.footer-list li{
    list-style: none;
    display: inline;
    text-align: center;
    margin-right: 25px;
}
.footer-list li a{
    text-decoration: none;
    color: gray;
}